<section style="text-align: center;margin-bottom: 40px;" id="footer">
    <img style="width: 114px;height: 42px;display: inline-block;margin-right: 73px;"
         src="/img/logo_splash.png" alt="">
    <div style="display: inline-block; height: 42px; vertical-align: bottom;">
        <a href="https://www.facebook.com/finolifinoli/" target="_blank" title="Facebook" style="margin-right: 30px;">
            <img class="wp-image-241" style="display: inline-block; height: 30px;"
                 src="/img/facebook_small.png" alt="Facebook">
        </a>
        <a href="https://twitter.com/finolifinoliofi" target="_blank" title="Twitter" style="margin-right: 30px;">
            <img class="wp-image-242" style="display: inline-block; height: 30px;"
                 src="/img/twitter_small.png" alt="Twitter">
        </a>
        <a href="https://www.youtube.com/user/FinoliFinoliTV" target="_blank" title="Youtube">
            <img class="wp-image-241" style="display: inline-block; height: 30px;"
                 src="/img/youtube_small.png" alt="Youtube">
        </a>
    </div>
</section>