<section class="topBar nzs-drop-menu normal-menu" id="top" style="min-height: 90px;">
    <div class="container" style="min-height: 90px;">
        <h1 class="hide-text">Finoli Films</h1>
        <nav class="mainMenu">
            <ul id="main-menu" class="menu">
                <li id="menu-item-45" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-45">
                    <a style="padding-right: 0;" href="http://www.finolifilms.com/">Volver al sitio</a>
                </li>
            </ul>
        </nav>
    </div>
</section>