<div class="one-third column">
    <div class="rightpadding sidebar">
        <div class="widget widget_text">
            <div class="textwidget"><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam ut
                pulvinar nisi. Nam ac velit ut mauris ullamcorper bibendum. Vestibulum sed bibendum turpis.</p>
                <p>Praesent accumsan massa nec semper auctor.Sed iaculis porta dolor, vel euismod lorem egestas
                    in. Maecenas sed ornare erat. Vestibulum pellentesque scelerisque mauris ut blandit. Fusce
                    sodales.</p>
            </div>
        </div>
    </div>
</div>